<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="2.2.3" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FsLexYacc" version="6.1.0" targetFramework="net461" />
  <package id="FsLexYacc.Runtime" version="6.1.0" targetFramework="net461" />
</packages>